# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
dist/
build/

# Test and coverage reports
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.log
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Other artifacts
*.db
*.sqlite3
*.egg
*.egg-info/
*.DS_Store
*.pyo
*.pyd

.env
